
.icon-paper-plane:before { content: '\e800'; } /* '' */
.icon-right-small:before { content: '\e801'; } /* '' */
.icon-right:before { content: '\e802'; } /* '' */
.icon-right-circle:before { content: '\e803'; } /* '' */
.icon-right-1:before { content: '\e804'; } /* '' */
.icon-right-open:before { content: '\e805'; } /* '' */
